@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* shared-styles */
.btn-primary {
  background-color: #e02c6d;
  border: none;
  padding: 10px 24px 10px 24px;
  border-radius: 40px;
}
.btn-primary a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
main {
  margin: 100px 150px;
}
/* header-styles */
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 120px 50px 120px;
  align-items: center;
}
nav ul {
  display: flex;
  column-gap: 30px;
}
nav ul li {
  list-style: none;
}
.nav-item {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 500;
  cursor: pointer;
}
nav ul li a i {
  color: #e02c6d;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  width: 25px;
  background: #333;
  margin: 4px 0;
  transition: 0.4s;
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  margin: 0px 100px;
}

.hero-img {
  position: relative;
  width: 600px;
}

.hero-circle {
  display: block;
  width: 100%;
}

.hero-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* brands */
.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-top: 1px dotted #aaaaaa;
  border-bottom: 1px dotted #aaaaaa;
  padding: 20px;
}

.brands img {
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  /* nav */
  nav {
    margin: 3px;
  }
  .hamburger,
  .logo,
  .cart-icon {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .logo {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .hamburger {
    font-size: 20px;
    cursor: pointer;
  }

  .cart-icon i {
    font-size: 24px;
    color: #e02c6d;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .nav-list.active {
    display: flex;
  }
  /* hero */
  .hero {
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-img {
    position: relative;
    width: 300px;
    margin-top: 40px;
  }
  main {
    margin: 0px;
  }
  .brands {
    margin: 0px;
    border: none;
    margin-top: 20px;
  }
}
